aniso8601==7.0.0
Click==7.0
Flask==1.1.1
Flask-GraphQL==2.0.1
graphene==2.1.8
graphene-sqlalchemy==2.2.2
graphene-sqlalchemy-filter==1.10.0
graphql-core==2.2.1
graphql-relay==2.0.1
graphql-server-core==1.1.3
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
promise==2.3
Rx==1.6.1
singledispatch==3.4.0.3
six==1.13.0
SQLAlchemy==1.3.12
Werkzeug==2.2.3
